In [2]:
import pandas as pd

hosp_d = pd.read_csv('./hospitalisation_details.csv')

hosp_d.head()

,c_id,yr,mth,date?,children?,charges?,host_tier,Ct_tier,st_id,Has_Children,Is_Frequent_Treatment
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013,no,no
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013,no,no
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013,no,no
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013,no,no
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013,no,no

In [3]:
hosp_d.isnull().sum()

c_id                     0
yr                       0
mth                      1
date?                    0
children?                0
charges?                 0
host_tier                0
Ct_tier                  0
st_id                    0
Has_Children             0
Is_Frequent_Treatment    0
dtype: int64

In [4]:
hosp_d.dtypes

c_id                      object
yr                         int64
mth                       object
date?                      int64
children?                  int64
charges?                 float64
host_tier                 object
Ct_tier                   object
st_id                     object
Has_Children              object
Is_Frequent_Treatment     object
dtype: object

In [5]:
hosp_d.duplicated().sum()

89

In [6]:
hosp_d.drop_duplicates(inplace=True)

In [7]:
hosp_d['Has_Children'].value_counts()

no     1192
yes    1151
Name: Has_Children, dtype: int64

In [8]:
hosp_d['Is_Frequent_Treatment'].value_counts()

no     1213
yes    1130
Name: Is_Frequent_Treatment, dtype: int64

In [9]:
new_columns = {
    'c_id': 'customer_id',
    'yr': 'year',
    'mth': 'month',
    'date?': 'date',
    'children?': 'children',
    'charges?': 'charges',
    'host_tier': 'hospital_tier',
    'Ct_tier': 'city_tier',
    'st_id': 'state_id'
}

hosp_d.rename(columns=new_columns, inplace=True)

In [10]:
hosp_d.head()

,customer_id,year,month,date,children,charges,hospital_tier,city_tier,state_id,Has_Children,Is_Frequent_Treatment
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013,no,no
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013,no,no
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013,no,no
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013,no,no
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013,no,no

In [11]:
med_exam = pd.read_csv('./medical_examinations.csv')

med_exam.head()

,cid,b_m_i,HBA1C,h_Issues,any_transplant,cancer_hist,noofmajorsurgeries,smoker??,recovery_period
0,Id1,47.410,7.47,No,No,No,No major surgery,yes,None
1,Id2,30.360,5.77,No,No,No,No major surgery,yes,None
2,Id3,34.485,11.87,yes,No,No,2,yes,Moderate
3,Id4,38.095,6.05,No,No,No,No major surgery,yes,None
4,Id5,35.530,5.45,No,No,No,No major surgery,yes,None

In [12]:
med_exam.isnull().sum()

cid                   0
b_m_i                 0
HBA1C                 0
h_Issues              0
any_transplant        0
cancer_hist           0
noofmajorsurgeries    0
smoker??              0
recovery_period       0
dtype: int64

In [13]:
med_exam.dtypes

cid                    object
b_m_i                 float64
HBA1C                 float64
h_Issues               object
any_transplant         object
cancer_hist            object
noofmajorsurgeries     object
smoker??               object
recovery_period        object
dtype: object

In [14]:
med_exam.duplicated().sum()

39

In [15]:
med_exam.drop_duplicates(inplace=True)

In [16]:
new_columns = {
    'cid': 'customer_id',
    'b_m_i': 'BMI',
    'h_Issues': 'health_issues',
    'cancer_hist': 'cancer_history',
    'noofmajorsurgeries': 'numberofmajorsurgeries',
    'smoker??': 'smoker'
}

med_exam.rename(columns=new_columns, inplace=True)

In [17]:
med_exam.head()

,customer_id,BMI,HBA1C,health_issues,any_transplant,cancer_history,numberofmajorsurgeries,smoker,recovery_period
0,Id1,47.410,7.47,No,No,No,No major surgery,yes,None
1,Id2,30.360,5.77,No,No,No,No major surgery,yes,None
2,Id3,34.485,11.87,yes,No,No,2,yes,Moderate
3,Id4,38.095,6.05,No,No,No,No major surgery,yes,None
4,Id5,35.530,5.45,No,No,No,No major surgery,yes,None

In [18]:
med_exam.to_csv('medical_examinations_cleaned.csv', index=False)

In [19]:
hosp_d.to_csv('hospitalisation_details_cleaned.csv', index=False)